[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"

[dev-packages]
mypy = "*"
pytest = "*"
mkdocs = "*"
bpython = "*"

[requires]
python_version = "3"
